@charset "utf-8";
/* CSS Document */

.nav{ width:100%; height:80px; background:#55a4ba; position:fixed; z-index:1;}
.nav ul li{ float:left; height:80px; line-height:80px; display:inline-block; margin:0 30px; font-weight:bold;}
.nav ul li a{ color:#fff;}

.banner{ width:100%; height:700px; background:url(../images/banner.jpg) no-repeat 0 0; background-size:cover;}
.banner .banner-info{ color:#fff; padding-top:200px;}
.banner .banner-left{ width:180px; height:180px; border:1px solid #fff; border-radius:50%; margin-left:140px; margin-right:140px; background:url(../images/me.jpg) no-repeat 0px -20px;}
.banner .banner-right h2{ font-size:26px; margin: 50px 0 10px 30px;}
.banner .border{ width:70%; padding:1px; background:#52edc7; margin:0 auto;}
.banner .banner-right h3{ font-size:36px; width:260px; height:60px; line-height:60px; border:1px solid #fff; text-align:center; margin:20px 0 0 0;}

.about{ padding:50px 0 0 0;}
.about h3{ font-size:32px; color:#333; text-align:center; letter-spacing:18px; border-bottom:1px solid #36F; padding:10px; }
.about p{ line-height:40px; text-indent:20px; margin:10px;}

.about-back{ width:100%; background:url(../images/about-b.jpg) no-repeat top center; background-size:cover; padding-top:95px;}

.skill{ width:100%; background:#1abc9c;}
.skill h3{ font-size:32px; color:#fff; text-align:center; letter-spacing:18px; padding:10px 0;}
.skill ul{ padding:40px 0;}
.skill li{ height:30px; line-height:30px; margin:10px 0;}
.skill li span.name{ width:120px; display:inline-block;}
.skill li span.scale{ vertical-align:middle; display:inline-block; width:500px; height:30px; line-height:30px; background:#099; margin-left:10px;}
.skill li span.scale1,.skill li span.scale2{ width:400px;}
.skill li span.scale3,.skill li span.scale4{ width:300px;}
.skill li span.num{ margin-left:10px;}
.myskill-back{ width:100%; background:url(../images/myskill-b.jpg) no-repeat top center; background-size:cover; padding-top:88px;}

#progress{ width:100%; background:#eee; }
#progress h3{ font-size:32px; text-align:center; padding:20px 0; letter-spacing:18px;}
#progress ul{ width:900px; margin:0 auto; padding-bottom:20px; }
#progress li{ list-style:none; width:300px; height:300px; float:left; position:relative;}
img{ vertical-align:top; display:block; max-width:100%; height:auto; }
.textbox{ width:100%; height:100%; line-height:100%; position:absolute;top:0; left:0; background-color:rgba(82,237,199,0.5); text-align:center; color:#fff; transition:all .6s ease; transform:scale(0);}
.textbox a{ width:100%; height:100%; display:block; color:red;}
.textbox h4{ font-size:18px; margin-top:89px; }
.textbox p{ font-size:12px; margin-top:10px; }

.footer{ width:100%; height:40px; line-height:40px; background:#888b90; text-align:center; font-size:12px;}


