@charset "utf-8";
/* CSS Document */

.nav{ width:100%; height:80px; font-size:12px; background:#55a4ba; position:fixed; z-index:1;}
.nav ul li{ float:left; height:80px; line-height:80px; display:inline-block; margin:0 30px; /*font-weight:bold;*/}
.nav ul li a{ color:#fff;}

.banner{ width:100%; height:700px; background:url(../images/banner.jpg) no-repeat 0 0; background-size:cover;}
.banner .banner-info{ color:#fff; padding-top:200px;}
.banner .banner-left{ width:180px; height:180px; border:1px solid #fff; border-radius:50%; margin-left:140px; margin-right:140px; background:url(../images/me.jpg) no-repeat 0px -20px;}
.banner .banner-right h2{ font-size:26px; margin: 50px 0 10px 30px;}
.banner .border{ width:70%; padding:1px; background:#52edc7; margin:0 auto;}
.banner .banner-right h3{ font-size:36px; width:260px; height:60px; line-height:60px; border:1px solid #fff; text-align:center; margin:20px 0 0 0;}


.about{ padding:50px 0 0 0; }
.common{ padding-top:20px;}
.common .title{ width:100%; height:60px; text-align:center;}
.common h2{ width:130px; margin:0 auto; font-size:24px; color:#333; text-align:center; letter-spacing:5px;}
.common .title_en{ border-top:2px solid #f00; margin:3px auto; padding:5px 0; font-size:12px;}

.about p{ line-height:30px; text-align:center; margin:10px; font-size:12px;}

.about-back{ width:100%; background:url(../images/about-b.jpg) no-repeat top center; background-size:cover; padding-top:95px;}

.skill{ width:100%; background:#1abc9c;}


.skill p{ line-height:30px; text-align:center; font-size:12px; padding:10px;}

.skill .skill_class{ margin-top:30px;}
.skill .skill_class dl{ width:25%; height:300px; position:relative; float:left;}
.skill .skill_class dt{ padding-top:110px; padding-right:30px; text-align:center;}
.skill .skill_class dl.html_c dt{ background:url(../images/html.png) no-repeat top center;}
.skill .skill_class dl.css_c dt{ background:url(../images/css.png) no-repeat top center;}
.skill .skill_class dl.js_c dt{ background:url(../images/js.png) no-repeat top center;}
.skill .skill_class dl.h5andcss3_c dt{ background:url(../images/H5.png) no-repeat top center;}
.skill .skill_class dt i{ display:block; background:url(../images/icon.png) no-repeat center; padding-bottom:50px;}

.skill .skill_class dd{ position:absolute; width:260px; background:#FFC; border-radius:10px; display:none;}
.skill .skill_class dd ul{ padding:10px 10px;}
.skill .skill_class dd ul li{ line-height:26px;}

.myskill-back{ width:100%; background:url(../images/myskill-b.jpg) no-repeat top center; background-size:cover; padding-top:88px;}

#progress{ width:100%; background:#eee; }
#progress .cont{ width:930px; margin:0 auto; padding-bottom:20px;}
#progress .cont h3{ font-size:16px; height:30px; line-height:30px; font-weight:bold; background:#3CF; color:#fff; padding:10px 0 10px 10px; margin:10px 0;}
#progress ul{ /*width:930px; margin:0 auto; padding-bottom:20px;*/ }
#progress li{ list-style:none; width:300px; height:300px; float:left; display:iinline; margin:5px;  position:relative;}
img{ vertical-align:top; display:block; max-width:100%; height:auto; }
.textbox{ width:100%; height:100%; line-height:100%; position:absolute;top:0; left:0; background-color:rgba(82,237,199,0.5); text-align:center; color:#fff; transition:all .6s ease; transform:scale(0);}
.textbox a{ width:100%; height:100%; display:block; color:#fff; position:relative;}
.textbox div{ width:140px; height:40px; padding-top:10px; line-height:18px; background:#000; opacity:0.6; position:absolute; left:50%; top:50%; margin-left:-70px; margin-top:-70px;}
.textbox h4{ font-size:18px;/* margin-top:89px;*/ }
.textbox p{ font-size:12px;/* margin-top:10px;*/ }

.footer{ width:100%; height:40px; line-height:40px; background:#888b90; text-align:center; font-size:12px;}


