@charset "utf-8";
/* CSS Document */
.top{ width:100%; height:36px; line-height:36px; background:url(../images/mi_topbar_bg.png) repeat-x; border-bottom:1px solid #dfdfdf; font-size:12px; color:#8c8c8c;}
.top a{ color:#8c8c8c;}
.site-topbar{ width:930px; margin:0 auto;}
.topbar_l{ width:580px; height:36px;}
.topbar_l ul{}
.topbar_l ul li{ float:left; height:36px; line-height:36px; background:url(../images/mi_line.png) no-repeat right center; padding-right:16px; margin-right:12px;}
.topbar_l ul li.no_line{ background:none;}
.loginbar{ width:110px; height:36px;}
.loginbar ul{ background:url(../images/mi_line.png) no-repeat 70px center; }
.loginbar ul li{ float:left; margin-left:30px;}
.header{ position:relative;}
.logo{ width:70px; height:70px; background:url(../images/mi_logo.png) no-repeat center center #ff4a00; text-indent:-9999px; margin-top:25px;}
.search,.search img{ width:424px; height:40px;}
.shopping_cart{ width:126px; height:40px; line-height:40px; text-align:center; margin-left:10px; background:#ffdb3d; }
.shopping_cart a{ width:126px; height:40px; line-height:40px;  font-size:14px; color:#333; background:url(../images/shopping_cart.png) no-repeat 35px center; padding-left:17px; display:block;   }
.search,.shopping_cart{ margin-top:55px;}
.time{ font-size:12px; color:#a1a1a1; background:url(../images/mi_clock.png) no-repeat left center; padding-left:22px; position:absolute; top:23px; right:0px;}

.main{ margin-top:15px;}
.all_goods{ width:248px; height:641px;}
.all_goods h2{ height:50px; line-height:50px; background:#ff4a00; font-size:18px; color:#fff; padding-left:20px;}
.all_goods ul{ width:246px; height:590px; border:1px solid #dfdfdf; border-top:none; overflow:hidden;}
.all_goods ul li{ height:73px; line-height:73px; border-bottom:1px solid #dfdfdf;}
.all_goods ul li dl{ padding:14px 0 0 20px;}
.all_goods ul li dl dt{ line-height:22px;}
.all_goods ul li dl dt a{ color:#ff4a00;}
.all_goods ul li dl dd{ line-height:22px; overflow:hidden;}
.all_goods ul li dl dd a{ color:#6d6d6d; float:left; margin-right:7px;}
.all_goods ul li dl dd a:hover{ color:#FC6; text-decoration:underline;}

.main_left{ width:682px; height:641px;}
.nav{ height:50px; background:#404144; font-size:16px;}
.nav li{ float:left; line-height:50px; margin:0 11px;}
.nav li a{ color:#fff;}
.banner,.banner img{ width:682px; height:420px;}
.banner{ position:relative;}
.focus_number{ position:absolute; right:15px; bottom:15px;}
.focus_number li{ width:28px; height:18px; font-size:12px; color:#fff; cursor:pointer; border:1px solid #e56453; float:left; margin-left:10px; position:relative;}
.focus_number li b{ width:28px; height:18px; position:absolute; left:0; top:0; text-align:center;}
.focus_number li em{ width:28px; height:18px; position:absolute; left:0; top:0; text-align:center; background:#000; opacity:0.3; filter:alpha(opacity=30);}
.hot ul li{ float:left; height:170px; border-right:1px solid #dfdfdf; border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf;}
.hot ul li img{ display:block;}

/*小米明星产品*/
.starSingle{}
.starSingle .title{ padding-bottom:17px;}
.starSingle .title h2{ font-size:18px; color:#333; height:17px; line-height:17px; padding-top:26px;}
.starSingle .title span{ font-size:14px; color:#6d6d6d; padding-top:29px; margin-left:12px;}
.arrow{ margin-top:30px;}
.arrow a{ float:left;}
.arrow a.info{ width:28px; height:18px; border:1px solid #dfdfdf; display:block; background:url(../images/mi_info.png) no-repeat center center;}
.arrow a.back{ width:28px; height:18px; border:1px solid #dfdfdf; display:block; background:url(../images/mi_back.png) no-repeat center center;}
.starSingle ul{ width:928px; height:308px; border:1px solid #dfdfdf; overflow:hidden;}
.starSingle ul li{ float:left; width:309px; text-align:center; padding-bottom:25px;  border-right:1px solid #dfdfdf;}
.starSingle ul li img{ width:200px; height:182px; margin:30px 55px 27px 54px;}
.starSingle ul li.no_border{ border-right:0; width:308px;}
.starSingle li dt{}
.starSingle li dt a{ font-size:16px; color:#000; height:24px; line-height:24px;}
.starSingle li dd{}
.starSingle li dd a{ font-size:12px; color:#8c8c8c; height:20px; line-height:20px;}

/*新品上新*/
.newProduct{ padding-top:5px;}
.allLike{ padding-top:6px;}
.newProduct .title,.allLike .title{ padding-bottom:17px;}
.newProduct .title h2,.allLike .title h2{ font-size:18px; color:#333; height:17px; line-height:17px; padding-top:26px;}
.newProduct .title a{ font-size:14px; color:#333; margin-top:30px;}
.newProduct .new{ width:928px; height:929px; border:1px solid #dfdfdf;}
.new_left{ width:619px; height:929px; border-right:1px solid #dfdfdf;}
.all_like{ width:928px; height:619px; border:1px solid #dfdfdf;}
.all_like .like_left{ width:619px; height:619px; border-right:1px solid #dfdfdf;}
.new_left .iHealth{ background:url(../images/mi_ihealth.png) no-repeat; width:619px; height:309px; border-bottom:1px solid #dfdfdf;}
.like_left .hot{ background:url(../images/mi_68.png) no-repeat; width:619px; height:309px; border-bottom:1px solid #dfdfdf;}
.new_left .iHealth h3,.like_left .hot h3{ font-size:33px; line-height:33px; font-weight:bold; padding:65px 0 0 29px;}
.new_left .iHealth span,.like_left .hot span{ display:block; font-size:14px; height:42px; color:#6a6a6a; line-height:42px; padding-left:26px;}
.new_left .iHealth strong,.like_left .hot strong{ display:block; font-size:20px; height:50px; line-height:50px; color:#353535; padding-left:32px;}

.new_r_l{  width:309px; height:309px; background:url(../images/mi_56.png) no-repeat; position:relative; border-bottom:1px solid #dfdfdf; border-right:1px solid #dfdfdf;}
.new_r_l dt{ font-size:14px; color:#000; margin:33px 0 0 30px;}
.new_r_l dd{ font-size:12px; color:#000; margin-left:30px;}
.new_r_l strong{ font-size:12px; color:#000;}
.new_r_l em{ color:#8c8c8d; text-decoration:line-through; margin-left:8px;}
.new_r_l .free_shipping{ position:absolute; top:0; right:26px; width:70px; height:20px; background:#f32f39; text-align:center; font-size:12px; color:#fff;}
.new_r_r{}
.new_r_r1{ width:309px; height:154px; background:url(../images/mi_58.png) no-repeat;}
.new_r_r2{ width:309px; height:154px; background:url(../images/mi_61.png) no-repeat;   border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;}
.new_r_r1 dl,.new_r_r2 dl,.new_b_l dl,.new_b_r dl,.like_b_l dl,.like_b_r dl{ font-size:14px; color:#000; padding:33px 0 0 30px;}

.new_bottom,.like_bottom{ border-bottom:1px solid #dfdfdf;}
.new_b_l{ width:309px; height:309px; background:url(../images/mi_64.png) no-repeat; border-right:1px solid #dfdfdf;}
.new_b_r{ width:309px; height:309px; background:url(../images/mi_65.png) no-repeat;}
.like_b_l{ width:309px; height:309px; background:url(../images/mi_70.png) no-repeat; border-right:1px solid #dfdfdf;}
.like_b_r{ width:309px; height:309px; background:url(../images/mi_72.png) no-repeat;}

.new_right{ width:308px; height:929px; background:#fafafa; }
.new_right .new_r_ul li{ padding:13px 18px 13px 30px; border-bottom:1px solid #dfdfdf;}
.new_right .new_r_ul li dl{ width:142px;}
.new_right .new_r_ul li dl a{ font-size:17px; line-height:17px; color:#222; display:block; padding:22px 0 9px 0;}
.new_right .new_r_ul li dd strong{ font-size:14px; line-height:12px; display:block; padding-bottom:7px;}
.new_right .new_r_ul li dd strong i{ color:#f32f39;}
.new_right .new_r_ul li dd b{ color:#6d6d6d; text-decoration:line-through; margin-left:6px;}
.new_right .new_r_ul li dd span{ display:block; font-size:12px; color:#6d6d6d; line-height:12px;}
.new_right .pic{ width:100px; height:100px; display:block;}
.new_right .new_r_ul li h4{ font-size:18px; line-height:48px; padding-top:1px;}
.new_right .new_r_ul li .tel{ margin-bottom:10px;}
 input{ width:232px; height:38px; border:1px solid #dfdfdf; font-size:16px; color:#dfdfdf; background:#fff; padding-left:14px;}
.new_right .new_r_ul li .price{ margin-bottom:10px;}
.new_right .new_r_ul li .price select{ width:248px; height:40px; border:1px solid #dfdfdf; font-size:16px; color:#dfdfdf; background:#fff; padding-left:15px; }
.new_right .new_r_ul li .price select option{ padding-left:15px;}
.new_right .new_r_ul li .total{ font-size:16px; height:40px; line-height:40px; color:#6d6d6d;}
.new_right .new_r_ul li .button{ padding:7px 0 17px 0;}
.new_right .new_r_ul li .button input{ width:248px; height:40px; font-size:16px; color:#fff; background:#dcdee4; border:none; cursor:pointer;}
.new_right .news{ padding:20px 30px 28px 30px;}
.new_right .news h4{ font-size:18px; height:37px; line-height:37px;}
.new_right .news ul{ font-size:14px;}
.new_right .news ul li{ line-height:45px; border-bottom:1px solid #dfdfdf; background:url(../images/mi_icon01.png) no-repeat 6px center; padding-left:17px; overflow:hidden;}
.new_right .news li a{ color:#333; float:left;}
.new_right .news li i{ float:right; color:#55326e;}
.new_right .news li.no_border{ border-bottom:0;}

.like_right{ width:308px; height:619px;}
.like_right li{ border-bottom:1px solid #dfdfdf;}
.like_right li h4{ font-family:Arial, Helvetica, sans-serif; font-size:25px; line-height:25px; margin:38px 0 40px 31px;}
h4 strong{ font-size:25px; color:#ff4a00;}
.like_right li img{ display:block; width:118px;}
.like_right .num{ font-size:38px; color:#ff4a00; width:20px; height:30px; line-height:30px; margin:34px 0 0 30px;}
.like_right .num_gray{ font-size:38px; color:#6d6d6d; width:20px; height:30px; line-height:30px; margin:34px 0 0 30px;}
.like_right .cont{ margin:34px 0 0 15px;}
.like_right .cont a{ display:block; font-size:14px; line-height:14px; color:#333;}
.like_right .cont i{ display:block; font-size:12px; line-height:12px; margin-top:9px;}

/*热评产品*/
.hotReview{ padding-top:5px;}
.hotReview .title,.specialProducts .title{ padding-bottom:17px;}
.hotReview .title h2,.specialProducts .title h2{ font-size:18px; color:#333; height:17px; line-height:17px; padding-top:26px;}
.hotReview .title a.more{ font-size:14px; color:#333; margin-top:23px;}
.hotReview ul,.specialProducts ul{ width:928px; border:1px solid #dfdfdf;}
.hotReview ul li{ float:left; width:309px; height:410px; border-right:1px solid #dfdfdf;}
.hotReview ul li.no_border{ border-right:0; width:308px;}
.hotReview li h4{ font-size:14px; height:14px; line-height:14px; margin:33px 0 8px 30px;}
.hotReview li a{ color:#333;}
.hotReview li .starLevel{ height:13px; margin:0 0 5px 30px;}
.hotReview li .starLevel span{ float:left; margin-right:9px;}
.starLevel .star{ background:url(../images/mi_starLevel10.png) top no-repeat; width:64px; height:13px;}
.starLevel .star-0{ background:url(../images/mi_starLevel00.png) top no-repeat;}
.starLevel .sepLine{ background:url(../images/mi_sepLine.png) top no-repeat; width:1px; height:13px;}
.starLevel .count{ font-size:12px; color:#8c8c8c; margin-top:-2px;}
.hotReview li .price{ font-size:12px; height:12px; line-height:12px; color:#333; margin:0 0 57px 30px;}
.hotReview li img{ width:289px; height:182px; display:block;}
.hotReview li .describe{ font-size:12px; color:#6d6d6d; margin:20px 10px 10px 10px; height:36px; background:#f3f3f3; padding:10px 23px 10px 15px; position:relative;}
.hotReview i{ display:block; background:url(../images/mi_arrow.png) no-repeat; width:12px; height:6px; position:absolute; top:-6; right:50%;}
.specialProducts{ padding-top:4px;}
.specialProducts li{ float:left; width:309px; height:309px; border-right:1px solid #dfdfdf; position:relative;}
.specialProducts ul li.no_border{ border-right:0; width:308px;}
.specialProducts dl{ margin-bottom:39px;}
.specialProducts dt{ font-size:14px; height:13px; line-height:13px; color:#000; margin:33px 0 7px 30px;}
.specialProducts dd{ font-size:12px; color:#000; height:12px; line-height:12px; margin-left:30px;}
.specialProducts strong{ font-size:12px; color:#000;}
.specialProducts em{ color:#8c8c8d; text-decoration:line-through; margin-left:8px;}
.specialProducts .save{ position:absolute; top:0; right:24px; width:70px; height:20px; background:#f32f39; text-align:center; font-size:12px; color:#fff;}
.specialProducts img{ display:block;}
.other{ margin:65px auto; width:928px; height:335px; border:1px solid #dfdfdf;}
.other li{ float:left; width:309px;  height:335px; border-right:1px solid #dfdfdf; }
.other li.no_border{ border-right:0; width:308px;}
.other li dl{ margin:33px 0 0 30px; font-size:14px;}
.other li dt,.other li dd{ height:14px; line-height:14px;}
.other li dd{ padding:7px 0 28px 0;  }
.other img{ display:block; width:250px; height:220px; margin:0 auto;}
.other a{ color:#333;}
.site_footer{ background:#fafafa; height:534px;}
.footer_service li{ float:left; padding:46px 40px 28px 40px; border-bottom:1px solid #dfdfdf;}
.footer_service li a{ font-size:16px; color:#000; text-align:center; vertical-align:middle;}
.footer_service li a:hover{}
.footer_service li .img{ height:32px;}
.footer_service li .txt{ height:48px; line-height:48px;}
.footer_link{  border-bottom:1px solid #dfdfdf;}
.footer_link dl{ width:128px; height:118px; padding-left:20px; margin:46px 0 42px 0; border-right:1px solid #dfdfdf; float:left;}
.footer_link dt{ font-size:18px; line-height:18px; margin-bottom:11px; }
.footer_link dd{ font-size:14px; line-height:28px;}
.footer_link a{ color:#3c3c3c;}
.linkus{ width:185px; height:118px; float:left; margin:46px 0 42px 0; text-align:center;}
.linkus span{ display:block; font-size:24px; font-weight:bold; height:26px; line-height:26px; margin-left:16px;}
.linkus i{ display:block; font-size:14px; height:14px; line-height:14px; margin:7px 0 8px 0; color:#6d6d6d;}
.linkus a{ display:block; width:120px; height:30px; background:#ff4a00; color:#fff; text-align:center; line-height:30px; margin-left:35px; margin:16px 0 0 35px;}
.linkus a:hover{ background:#fff; color:#ff4a00;}
.foot_info{ padding:34px 0 20px 0;}
.foot_info p{ font-size:12px; color:#383838;}
.language{ width:200px; height:40px; margin:34px 0 20px 0;}
.language select{ width:200px; height:40px; background:#fff; border:1px solid #dfdfdf; color:#8c8c8c; padding-left:10px;}
.language select option{ padding-left:10px;}
.foot_bottom li{ float:left; margin-right:3px;}