.container{ width:100%; background:url(../images/wrap_bg.png) repeat-x; background-size:100% 100%; height: 23rem;;}
.index{ padding-top:3.25rem; padding:3.25rem 0 3.6rem;}
.index .text{ width:10rem; height:14.3rem; background:url(../images/index_text.png) no-repeat; background-size:10rem 14.3rem; margin:0 auto; }
.index .btn{ width:4.6rem; height:1.55rem; display:block; background:url(../images/test_btn.png) no-repeat; background-size:4.6rem 1.55rem; margin:0.7rem auto 0;}
.title{  padding-top:3.1rem;}
.title p{width:16rem; height:1.2rem;}
.title p img{ width:100%; height:100%;}
.page1_info{ padding-bottom:3.5rem;}
.page1_info ul{ margin:2rem 1.5rem;}
.page1_info ul li{width:50%; float:left; display:inline; margin-bottom:1.45rem;}
.page1_info ul li a{ width:5.2rem; height:2.95rem; display:block;  margin:0 auto;}
.page1_info ul li:nth-child(odd) a{ background:url(../images/vocation_bg_pink0.png) no-repeat;	background-size:5.2rem 2.95rem}
.page1_info ul li:nth-child(even) a{ background:url(../images/vocation_bg_pink1.png) no-repeat;	background-size:5.2rem 2.95rem}
		
.page1_info ul li a i{ display:block; width:100%; height:100%;}
.page1_info ul li a.stu i{ background:url(../images/stu.png) no-repeat;background-size:5.2rem 2.95rem;}
.page1_info ul li a.officeWorker i{ background:url(../images/officeWorker.png) no-repeat;background-size:5.2rem 2.95rem;}
.page1_info ul li a.engineer i{ background:url(../images/engineer.png) no-repeat;background-size:5.2rem 2.95rem;}
.page1_info ul li a.baoma i{ background:url(../images/baoma.png) no-repeat; background-size:5.2rem 2.95rem;}
.page1_info ul li a.boss i{ background:url(../images/boss.png) no-repeat; background-size:5.2rem 2.95rem;}
.page1_info ul li a.other i{ background:url(../images/other.png) no-repeat; background-size:5.2rem 2.95rem;}

.page_info { padding:1.85rem 0 6rem;}
.page_info li{ margin-bottom:0.75rem;}
.page_info a{ width:7.55rem; height:1.15rem; display:block; margin:0 auto;}
.page_info a img{ width:100%; height:100%;}

form{ width:7.5rem; font-size:0.35rem; margin:0 auto;}
#page9 form ul li{ height:0.75rem; line-height:0.75rem; margin-bottom:0.25rem;}
form div{ float:left;}
form div.left{ height:0.75rem; font-size:0.35rem;}
form div.center{ width:2.35rem; height:0.75rem;  margin:0 0.2rem;}
form div.right{ width:2.35rem; height:0.75rem;}
form select{ width:2.35rem; height:0.75rem; border:1px solid #d2d2d2; font-size:0.35rem; padding-left:0.3rem;}
form input[type="text"]{ width:2rem; height:0.75rem; border:1px solid #d2d2d2; font-size:0.35rem; /*margin:0 0.2rem; */padding-left:0.3rem;}
form .test_btn{ width:2.25rem; height:0.75rem; line-height:0.75rem; text-align:center; background:#e85a03; color:#fff; margin:0 0.2rem; border:none; font-size:0.35rem;}

#result { padding:4.3rem 0 2rem; text-align:center;}
#result .result_info{ width:13.75rem; height:14.5rem; background:url(../images/result_bg.png) no-repeat; background-size:13.75rem 14.5rem; margin:0 auto;}
#result .text{ width:9.3rem; margin:0 auto; padding-top:1rem;}
#result h3{ font-size:0.75rem; color:#f9002f; height:1.5rem; line-height:1.5rem;}
#result h4{ width:5.5rem; font-size:0.55rem; color:#ff9238; font-family:"方正兰亭细黑_GBK"; border-bottom:3px double #ff9238; margin:0 auto;}
#result h4 strong{ color:#ff8622; font-family:"microsoft yahei"; padding-left:0.3rem;}
#result p.desc{ font-size:0.4rem; color:#d65200; margin:0.7rem 0 0.25rem;}
#result p.desc i{ font-size:0.35rem;}
#result .text div .tip{ font-size:0.4rem; color:#8e8b88;}
#result .text div .way{ font-size:0.3rem; color:red; padding-bottom:0.8rem; background:url(../images/arrow.png) no-repeat bottom center; background-size:0.65rem 0.6rem; magin-bottom:2px;}
#result .text div .qr_code{ width:4.3rem; height:3.8rem; margin:0 auto;}
#result .text div .qr_code img{ width:100%; height:100%;}
