@charset "utf-8";
*{margin:0; padding: 0;}
body{ font-family:"微软雅黑"; font-size:16px; color:#000; background: #fff;}
h1,h2,h3,h4,h5,h6,strong,b{ font-weight:normal;}
em,i{ font-style: normal; }
li{list-style: none;}
a{ text-decoration:none; }
img{ vertical-align:top; border:none; }
input{ outline:none; border:none;}
.fl{ float:left; }
.fr{ float:right; }
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.clearfix{
	zoom:1;
}
.w{ width:1200px; margin:0 auto; }