@charset "utf-8";
#main{ width:100%; background:url(../images/bg.png) repeat;}
#main h3{ font-size:0.7rem; color:#eee; height:0.7rem; line-height:0.7rem; padding:1.5rem 0 1.35rem; margin:0 1.45rem; text-align:center; position:relative;}
#main h3 div{ width:100%; height:1px; background:#527a8d; position:absolute; top:52%; z-index:0;}
#main span{ color:#eee; background:url(../images/bg.png) repeat; position:relative; z-index:1; padding:0 0.4rem;}

#main .nav{ margin:0 0.5rem;}
#main .nav ul{ width:4.875rem; text-align:center; float:left; display:inline;;}
#main .nav ul li img{ width:3.35rem; height:3.35rem;}
#main .nav ul li p{ font-size:0.5rem; color:#eee; height:2.45rem; line-height:0.75rem; padding-top:0.55rem;}

#main .footer{ text-align:center;}
#main .footer p{ height:1.35rem; line-height: 1.35rem; padding-bottom:1.25rem;}
#main .footer a{ font-size:0.55rem; margin:0;}
#main .footer a img{ width:0.575rem; height:0.575rem; vertical-align:middle;}
#main .footer a span{ vertical-align: middle;}

#project{ width:100%; background:#41a9cc; position:relative;}
#project h3{ font-size:0.7rem; color:#fff; line-height:0.7rem; padding:1.5rem 0 0.725rem; margin:0 1.425rem; text-align:center; position:relative;}
#project h3 div{ width:100%; height:1px; background:#c4e4ef; position:absolute; top:1.85rem; z-index:0;}
#project span{ background:#41a9cc; position:relative; z-index:1; padding:0 0.25rem;}
#project .search_bar{ padding:0 1.425rem 1.525rem;}
#project .search_bar input.keyword{ width:7.85rem; height: 1.3rem; border:0.05rem solid #dcdcdc; font-size:0.625rem; padding-left:0.75rem;}
#project .search_bar input.search_btn{ width:4.45rem; height:1.4rem; background:#ff7f2b; border:none; font:0.7rem "微软雅黑"; color:#fff; cursor:pointer;}
#project .list{ margin:0 1.425rem;}
#project .list ul{ background:#fff; font-size:0.65rem; color:#595757; line-height:1.2rem; padding:0.6rem 0.75rem 0.525rem;}
#project .footer{ padding:1.2rem 0 1.225rem;}
#project .footer a{ display:block; width:7.35rem; height:1.4rem; line-height:1.4rem; text-align:center; background:#7fc6dd; font-size:0.65rem; color:#fff; margin:0 auto;}
#project .popPage{}
#project .popPage .popCon{ width:14.3rem; height:21.825rem;overflow: hidden; position:absolute; left:50%; margin-left:-7.15rem; top:2.4rem;/* opacity:0.9; filter:alpha(opacity:90);*/ background:#2d5a77;  opacity:0; z-index:-1; transform:all 1s ease;}
#project .popPage .close{ width:1.15rem; height:1.125rem; background:url(../images/close.png); background-size:cover; position:absolute; right:0.475rem; top:0.55rem; z-index:1;}
#project .popPage .popCon div{ height:100%; margin-left:1.375rem; margin-top:1.525rem; overflow-y:scroll;} 
#project .popPage .popCon div p{ width:1px; height:100%; background:#fff; position:absolute; left:1.55rem; top:2.1rem;}
#project .popPage .popCon div dl{ font-size:0.65rem; line-height:1.1rem; color:#fff; position:relative; padding-bottom:3rem;}
#project .popPage .popCon div dl dt,#project .popPage dl dd{ padding-left:1.05rem;}
#project .popPage .popCon div dl dt{ background:url(../images/bullet.png) no-repeat left center; background-size:0.375rem 0.35rem;}
#project .popPage .popCon div dl dd{ margin-bottom:0.85rem;}

