@charset "utf-8";
/* CSS Document */
* {padding:0;margin:0;}
body{ margin:0 auto;background:#fff;font-size:12px;font-family: "宋体", Tahoma,Verdana,sans-serif;color:#646464;}
form,ul,li,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
input,select{font-size:12px;line-height:16px;}
div,img{ padding:0; margin:0; border:0;}
ul,li{list-style-type:none;}
a{color:#FFF;text-decoration:none;}
a:hover{ /*color:#00F;text-decoration:underline;*/}
.clear{ clear:both; width:auto; height:1px; margin-top:-1px;/* overflow:hidden*/}
.wrapper{ width:980px; height:auto; margin:0 auto}
.top { height:30px; background:url(../images/logo.gif) no-repeat 67px 15px; padding:40px 15px 30px 800px}
.top a{ color:#000}
.top a:hover{color:#FB4C09}
.nav{ height:40px; line-height:40px; background:#bb15b4;/*background:url(../images/jhxl_navBg.gif) repeat-x;*/ margin-bottom:1px}
	.nav ul{ font-size:14px; font-weight:bold; color:#FFF; list-style:none; margin-left:120px}
	.nav ul li{ float:left; height:40px; line-height:40px; padding-right:30px; display:inline}
	/*.nav ul li.selected a{ display:block; background:url(../images/selectedBg.gif) repeat-x; text-align:center; color:#f17e01; width:80px; height:30px}*/
/*.main{  margin-top:10px;}*/
