*{ margin:0; padding:0;}
li{ list-style:none;}
a{ text-decoration:none;}
h1,h2,h3,h4,h5,h6,strong,b{ font-weight:normal;}
img{ vertical-align:top;}
body{ font-family:"microsoft yahei"; min-width:320px; max-width:640px; margin:0 auto;}
.clearfix:after{ content:""; display:block; clear:both;}
.clearfix{ zoom:1;}
.fl{ float:left;}
.fr{ float:right;}
